*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    background-color: #fff;
    border: 2px #bbb solid;
    border-radius: 5px;
}

header{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
}

.imgProfile{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.textProfile{
    width: max-content;
    height: max-content;
    background-color: transparent;
    margin-left: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nameProfile{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.descProfile{
    padding-top: 20px;
}

.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    background-color: #e9e9e9;
}

.formacao{
    width: 100%;
    height: max-content;
}

.title{
    font-size: 36px;
    padding: 10px;
}

.itemFormacao{
    display: flex;
    padding: 15px;
}

.imgItemFormacao{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.nameCurso{
    font-size: 24px;
}

.tempoCurso{
    font-size: 16px;
}

.experiencia{
    margin-top: 30px;
    width: 100%;
}

.info{
    font-size: 16px;
    padding: 10px;
}

.redes{
    margin-top: 30px;
    width: 100%; 
}
.itemRedes{
    margin-top: 5px;
    height: 50px;
    background-color: #ddd;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.itemRedes:hover{
    background-color: #aaa;
}

.square{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.dio{
    margin-top: 7px;
    margin-left: 1px;
    font-size: 12px;
    color: white;
}

.user{
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    margin-left: 10px;
}

.icon{
    width: 30px;
    height: 30px;
    color: #fff;
}

.competencias{
    margin-top: 30px;
    width: 100%;
}
.hard, .soft{
    display: flex;
    align-items: center;
}

.skill{
    margin-bottom: 10px;
    width: 150px;
    height: max-content;
    font-size: 24px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 30px;
}

.skills{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.certificados{
    margin-top: 30px;
    width: 100%;
}

.itemCertificado{
    width: 100%;
    height: max-content;
    background-color: #ddd;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down{
    color: #000;
    width: 30px;
    height: 30px;
}

.down:hover{
    color: #333;
}

.mensagem{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

textarea{
    height: 100px;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.send{
    margin-bottom: 0;
    margin-top: 20px;
    height: 40px;
    color: white;
    background-color: #333;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

footer{
    margin-top: 50px;
    width: 100%;
    height: max-content;
    bottom: 0;
    background-color: #aaa;
    border-top: 2px black solid;
}

.footerContent{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contato{
    background-color: #272323;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    padding: 0 5px 0 5px;
    color: #e0e0e0;
    border: none;
    outline: none;
}

.copy{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: copy;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.copyIcon{
    width: 20px;
    height: 20px;
    color: #fff;
}

.itemContato{
    display: flex;
    align-items: initial;
}

@media (max-width: 500px){
    header{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .imgProfile{
        width: 100%;
        height: 100%;
    }

    .textProfile{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .nameProfile{
        font-size: 32px;
    }

    .descProfile{
        width: 250px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: justify;
    }
}
